// TOOLTIPS

.tooltip-trigger {
  color: @light-5;
  margin: 0 10px;
  opacity: 0.6;
}

.v-popper__popper {
  z-index: 10000;
}

.v-popper--theme-tooltip {
  div.v-popper__inner {
    background: @dark-2;
    color: @light-1;
    font-family: 'Roboto', sans-serif;
    .radius();
    .day-shadow();
    padding: 12px;
    font-size: 12px;
    border: 0;
  }

  div.v-popper__arrow-outer {
    border-color: @dark-2;
  }
}

.v-popper__popper--hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.15s,
    visibility 0.15s;
}

.v-popper__popper--shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

.night {
  .v-popper--theme-tooltip {
    div.v-popper__inner {
      /* background: @dark-2;
    color: @light-1;
    border-color: @dark-4; */
      .night-shadow();
    }
  }

  /* .v-popper__arrow-outer {
    border-color: @dark-4;
  } */
}
