// TOOLTIPS

.tooltip-trigger,
.v-popper--has-tooltip {
  color: @light-5;
  margin: 0 10px;
  opacity: .6;
}

.tooltip,
.v-popper__popper {
  display: block !important;
  z-index: 10000;
  background: transparent;
  border: 0;
  padding: 0;

  &:before {
    border: 0;
  }
}

.tooltip .tooltip-inner,
.v-popper__inner {
  background: @white;
  color: @dark-2;
  font-family: "Roboto", sans-serif;
  .radius();
  .day-shadow();
  padding: 8px 10px 7px;
  font-size: 12px;
}

.tooltip .tooltip-arrow,
.v-popper__arrow-container {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: @light-1;
}

.tooltip[x-placement^="top"],
.v-popper__popper[x-placement^="top"] {
  margin-bottom: 10px;
}

.tooltip[x-placement^="top"] .tooltip-arrow,
.v-popper__popper[x-placement^="top"] .v-popper__arrow-container {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"],
.v-popper__popper[x-placement^="bottom"] {
  margin-top: 10px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.v-popper__popper[x-placement^="bottom"] .v-popper__arrow-container {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"],
.v-popper__popper[x-placement^="right"] {
  margin-left: 10px;
}

.tooltip[x-placement^="right"] .tooltip-arrow,
.v-popper__popper[x-placement^="right"] .v-popper__arrow-container {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"],
.v-popper__popper[x-placement^="left"] {
  margin-right: 10px;
}

.tooltip[x-placement^="left"] .tooltip-arrow,
.v-popper__popper[x-placement^="left"] .v-popper__arrow-container {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'],
.v-popper__popper[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'],
.v-popper__popper[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.night {
  & ~ .tooltip, & ~ .v-popper__popper {
    .tooltip-inner, .v-popper__inner {
      background-color: @dark-4;
      border-color: @dark-4;
      color: @light-2;
      .night-shadow();
    }

    .tooltip-arrow, .v-popper__arrow-container {
      border-color: @dark-4;
    }
  }
}